html {
  box-sizing: border-box;
}

body ::before,
::after {
  box-sizing: border-box;
  font-family: "Barlow";
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
} /* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

@media only screen and (max-width: 1310px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    max-width: 330px;
  }
}
.header .header__container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 80px;
}
.header .header__container .navbar {
  width: 300px;
}
.header .header__container .navbar .navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.header .header__container .navbar .navbar__list .navbar__list-item a {
  text-transform: uppercase;
  color: #83888F;
  font-size: 0.75rem;
  line-height: 15px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.9px;
}
.header .header__container .navbar .navbar__list .navbar__list-item a:active {
  color: #333D4B;
}
.header .header__container .burger-btn {
  display: none;
  width: 40px;
  height: 30px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  position: relative;
}
.header .header__container .burger-btn .menu {
  width: 100%;
  height: 6px;
  border-radius: 1.5px;
  background-color: #333D4B;
  border: none;
  display: block;
  position: relative;
}
.header .header__container .burger-btn .menu::before {
  content: "";
  display: inherit;
  border-radius: 1.5px;
  background-color: #333D4B;
  border: none;
  width: 100%;
  height: 6px;
  position: absolute;
  top: -10px;
}
.header .header__container .burger-btn .menu::after {
  content: "";
  display: inherit;
  border-radius: 1.5px;
  background-color: #333D4B;
  border: none;
  width: 100%;
  height: 6px;
  position: absolute;
  top: 10px;
}

@media only screen and (max-width: 1310px) {
  .header .header__container {
    padding: 0px;
  }
}
@media only screen and (max-width: 700px) {
  .header .header__container .navbar {
    display: none;
  }
  .header .header__container .burger-btn {
    display: block;
  }
}
.intro {
  height: 600px;
  background-image: url(../../images/Bitmap.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0px 0px 86px;
  border-radius: 10px;
}
.intro .intro__title {
  font-size: 4.5rem;
  font-family: "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  line-height: 72px;
  font-style: normal;
}
.intro .intro__text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  max-width: 445px;
  padding: 0px 0px 30px 0px;
}
.intro .intro__btn {
  padding: 15px 31px 16px;
  color: #FEFCF7;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: #0E8784;
  border-radius: 6px;
}
.intro .intro__btn:hover {
  cursor: pointer;
}
.intro .intro__btn:active {
  background-color: #66D2CF;
}

@media only screen and (max-width: 1310px) {
  .intro {
    max-height: 500px;
  }
  .intro .intro__title {
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 2px;
  }
  .intro .intro__text {
    line-height: 25px;
    font-size: 0.938rem;
  }
}
@media only screen and (max-width: 700px) {
  .intro {
    padding: 70px 0px 0px;
    max-height: 450px;
    text-align: center;
  }
  .intro .intro__title {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .intro .intro__text {
    font-size: 0.938rem;
    line-height: 25px;
    max-width: 90%;
    margin: 0 auto;
  }
  .intro .intro__btn {
    margin-top: 25px;
  }
}
.collection {
  background-color: #FFFFFF;
}
.collection .collection__container {
  height: 450px;
  padding: 130px 0px 160px 0px;
  position: relative;
}
.collection .collection__container .collection__img {
  position: absolute;
  left: 5%;
}
.collection .collection__container .collection__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 100px 0px 0px;
  z-index: 2;
}
.collection .collection__container .collection__list .collection__list-item {
  text-align: center;
}
.collection .collection__container .collection__list .collection__list-item img {
  max-width: 255px;
  height: 193px;
}
.collection .collection__container .collection__list .collection__list-item .collection__list-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  font-style: normal;
  font-family: "Fraunces";
}
.collection .collection__container .collection__list .collection__list-item .coolection__list-text {
  font-size: 1rem;
  font-style: normal;
  line-height: 26px;
  color: #333D4B;
  font-weight: 400;
}

@media only screen and (max-width: 1310px) {
  .collection .collection__container {
    min-height: 1000px;
    padding: 60px 0px 0px 0px;
  }
  .collection .collection__container .collection__list {
    flex-direction: column;
  }
  .collection .collection__container .collection__list .collection__list-item {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    max-width: 85%;
  }
  .collection .collection__container .collection__list .collection__list-item .collection__text {
    text-align: left;
  }
  .collection .collection__container .collection__list .collection__list-item .collection__text p {
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 700px) {
  .collection .collection__container {
    min-height: 1700px;
  }
  .collection .collection__container img {
    max-width: 375px;
    height: 72px;
    left: 0;
  }
  .collection .collection__container .collection__list {
    flex-direction: column;
  }
  .collection .collection__container .collection__list .collection__list-item {
    display: block;
  }
  .collection .collection__container .collection__list .collection__list-item .collection__text {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */