@mixin link {
    text-decoration: none;
                border: 1.5px solid #2C2830;
                font-size: 0.813rem;
                color: #2C2830;
                padding: 13px 28.5px 12px;
                letter-spacing: 0.85px;
}
@mixin rectangle {
    width: 150px;
            height: 1px;
            background-color: $defaultColor;
}