.appeal{
    background-color: $defaultColor;
    .appeal__container{
        height: 854px;
        padding: 140px 50px 0px;
        display: flex;
        .left-appeal{
            width: 60%;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            .appeal__title{
                font-weight: 700;
                color: #000;
                line-height: 40px;
                font-size: 2.25rem;
            }
            .appeal__text{
                color: #000;
                font-size: 1.375rem;
                font-weight: 500;
                width: 448px;
                line-height: 30px;
            }
            .appeal__form{
                @include form;
                width: 308px;
                input{
                    width: 360px;
                }
                label{
                    padding: 5px 0px 10px 0px;
                    color: #808080;
                }
            }
            .appeal__btn{
                @include btn;
                width: 360px;
                a{
                    @include btn-link;
                }
            }
            .appeal__form-2{
                @include form-2;
                width: 308px;
                margin-left: 25px;
                padding: 0;
                label{
                    color: #808080;
                    font-size: 0.875rem;
                    strong{
                        color: #1168AC;
                    }
                }
                
            }
            .engineer-desc{
                position: absolute;
                color: #000;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 20px;
                bottom: 50px;
                right: -80px;
                letter-spacing: 0.8px;
            }
        }
        .right-appeal{
            width: 40%;
            height: 100%;

        }
    }
}

@media only screen and (max-width: $tablet) {
    .appeal{
        .appeal__container{
            padding: 75px 0px 0px;
            min-height: 600px;
            .left-appeal{
                .appeal__title{
                    font-size: 1.375rem;
                    line-height: 30px;
                }
                .appeal__text{
                    font-size: 1.125rem;
                    line-height: 24px;
                }
                .engineer-desc{
                    left: 10px;
                    bottom: 230px;
                }
            }
            .right-appeal{
                img{
                    max-width: 313px;
                    min-height: 500px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .appeal{
        .appeal__container{
            padding: 54px 0px 0px;
            min-height: 750px;
            flex-direction: column;
            .left-appeal{
                min-width: 100%;
                .appeal__title{
                    font-size: 1.125rem;
                    line-height: 26px;
                    text-align: center;
                }
                .appeal__text{
                    font-size: 0.875rem;
                    line-height: 20px;
                    text-align: center;
                    max-width: 100%;
                }
                .appeal__form{
                    min-width: 288px;
                    input{
                        max-width: 100%;
                    }
                }
                .appeal__btn{
                    max-width: 100%;
                    min-height: 50px;
                }
                .appeal__form-2{
                    margin: 0;
                }
                .engineer-desc{
                    top: 540px;
                    max-width: 150px;
                }
            }
            .right-appeal{
                img{
                    max-width: 200px;
                    min-height: 258px;
                    margin: 40px 0px 0px 120px;
                }
            }
        }
    }
}