.collection{
    background-color: $defaultColor;
    .collection__container{
        height: 450px;
        padding: 130px 0px 160px 0px;
        position: relative;
          .collection__img{
               position: absolute;
               left: 5%;
          }
          .collection__list{
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 100px 0px 0px ;
            z-index: 2;
            .collection__list-item{
                text-align: center;
                img{
                    max-width: 255px;
                    height: 193px;
                }
                .collection__list-title{
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 32px;
                    font-style: normal;
                    font-family: 'Fraunces';
                }
                .coolection__list-text{
                    font-size: 1rem;
                    font-style: normal;
                    line-height: 26px;
                    color: #333D4B;
                    font-weight: 400;
                    
                }
            }
          }
    }
}

@media only screen and (max-width: $tablet) {
    .collection{
        .collection__container{
            min-height: 1000px;
            padding: 60px 0px 0px 0px;
            .collection__list{
                flex-direction: column;
                .collection__list-item{
                    display: flex;
                    margin-top: 40px;
                    justify-content: space-between;
                    max-width: 85%;
                    .collection__text{
                        text-align: left;
                        p{
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .collection{
        .collection__container{
            min-height: 1700px;
            img{
                max-width: 375px;
                height: 72px;
                left: 0;
            }
            .collection__list{
                flex-direction: column;
                .collection__list-item{
                    display: block;
                    .collection__text{
                        text-align: center;
                    }
                }
            }
        }
    }
}