.consultation-section{
    background: url(../../images/Фон\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .consultation-section__container{
        height: 762px;
        display: flex;
        position: relative;
        .left-consultation{
            width: 65%;
            height: 67%;
            background-color: #4D4D4D;
            border-radius: 8px;
            margin-top: 140px;
            h3{
                font-size: 2.25rem;
                text-align: center;
                font-weight: 700;
                line-height: 38px;
                padding: 10px 0px 0px;
                color: $defaultColor;
                strong{
                    color: #FCCA3A;
                }
            }
            .consultation-wrapper{
                display: flex;
                width: 95%;
                padding: 20px 0px 0px;
                margin: 0 auto;
                justify-content: space-between;
                ul{
                    list-style: none;
                    width: 50%;
                    li{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin: 0px 0px 36px;
                        span{
                            color: $defaultColor;
                            font-size: 1rem;
                            font-weight: 600;
                            line-height: 22px;
                            padding: 0px 0px 0px 20px;
                        }
                    }
                }
                .form-wrapper{
                    width: 46%;
                    display: flex;
                    flex-direction: column;
                    .form{
                        @include form;
                        label{
                            padding: 0px 20px 10px;
                        }
                    }
                    .form__btn{
                        @include btn;
                        padding: 20px 25px;
                        margin: 25px 20px 15px;
                        a{
                         @include btn-link;
                        }
                    }
                    .form-2{
                        @include form-2;
                        width: 100%;
                    }
                }
            }
        }
        .worker-img{
            position: absolute;
            left: 820px;
            top: 93px;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .consultation-section{
        .consultation-section__container{
            min-height: 600px;
            .left-consultation{
                min-width: 100%;
                margin: 0 auto;
                margin-top: 120px;
                h3{
                    padding: 0;
                }
                .consultation-wrapper{
                    .form-wrapper{
                        .form__btn{
                            margin: 20px 0px 0px 0px;
                        }
                        .form-2{
                            margin: 20px 0px 0px 0px;
                            label{
                                font-size: 0.9rem;
                            }
                        }
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .worker-img{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .consultation-section{
        .consultation-section__container{
            min-height: 800px;
            .left-consultation{
                margin-top: 70px;
                min-height: 660px;
                h3{
                    font-size: 1.125rem;
                    line-height: 22px;
                }
                .consultation-wrapper{
                    flex-direction: column;
                    ul{
                        min-width: 100%;
                        margin: 0;
                        padding: 0;
                        li{
                            img{
                                max-width: 50px;
                                min-height: 50px;
                            }
                            span{
                               font-size: 0.75rem;
                               line-height: 18px; 
                            }
                        }
                    }
                    .form-wrapper{
                        max-width: 100%;
                        padding: 0px 0px 0px 10px;
                        .form{
                            max-width: 100%;
                            label{
                                padding: 0;
                            }
                            input{
                                max-width: 248px;
                                min-height: 40px;
                            }
                        }
                        .form__btn{
                            max-width: 248px;
                            height: 55px;
                            padding: 0px 0px 5px 0px;
                        }
                        .form-2{
                            min-width: 248px;
                            justify-content: space-evenly;
                            label{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}