.feedbacks{
    background-image: url(../../images/bg-img.png);
    background-size: cover;
    background-position: center;
    .feedbacks__container{
        height: 1203px;
        padding: 70px 0px 0px 0px;
        text-align: center;
        h2{
            color: $defaultColor;
            font-size: 2.875rem;
            font-weight: 700;
            line-height: 40px;
        }
        .feedbacks__text{
            font-size: 1.375rem;
            font-weight: 500;
            color: $defaultColor;
            line-height: 30px;
            padding: 0px 0px 20px 0px;
        }
        .feedbacks__list{
            display: flex;
            width: 90%;
            margin: 0 auto;
            justify-content: space-evenly;
            align-items: center;
            .feedbacks__list-item{
                list-style: none;
                .feedbacks__list-btn{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $defaultColor;
                    padding: 0;
                    background: none;
                    display: block;
                    position: relative;
                    cursor: pointer;

                    &::before{
                        width: 16px;
                        height: 11px;
                        content: "";
                        display: block;
                        background-image: url(../../images/feedbacks__list-arrow.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .feedbacks__list-btn:hover{
                    background-color: #4D4D4D;
                    border: 1px solid #4D4D4D;
                }
                .feedbacks__list-btn--right{
                    transform: rotate(180deg);
                }
            }
            .feedbacks__item{
                width: 658px;
                height: 374px;
                position: relative;
                background-image: url(../../images/feedback-item-img.png);
                background-size: cover;
                background-position: center;
                .feedbacks__video-btn{
                    width: 65.15px;
                    height: 65.15px;
                    margin: 0 auto;
                    padding: 0;
                    display: block;
                    position: absolute;
                    background: #91D9FC;
                    top: 41%;
                    left: 45%;
                    cursor: pointer;
                    border: none;
                    border-radius: 50%;
                }
            }
        }
        .client-desc{
            text-align: center;
            color: $defaultColor;
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 22px;
            padding: 10.8px 0px 0px 0px;
        }
        .ellipses{
            display: flex;
            width: 141.47px;
            justify-content: space-between;
            margin: 0 auto;
            .circle{
                width: 11.85px;
                height: 11.66px;
                border-radius: 50%;
                background-color: $defaultColor;
                cursor: pointer;
            }
            .circle:hover{
                background-color: #91D9FC;
            }
            .circle--first{
                background-color: #91D9FC;
            }
        }
        .actions-list{
            width: 100%;
            margin: 100px 0px 0px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            justify-content: space-between;
            list-style: none;
            .actions-list__item{
            background-color: #4D4D4D;
            border-radius: 8px;
            text-align: center;
            h3{
                color: #FCCA3A;
            line-height: 30px;
            font-size: 1.375rem;
            padding: 20px 68px 0px;
            }
            p{
                color: $defaultColor;
                font-weight: 600;
                font-size: 0.875rem;
                line-height: 20px;
                strong{
                    color: #FCCA3A;
                }
            }
            .actions__btn{
                @include btn;
                padding: 12px 45px;
                margin: 10px 0px 50px;
                a{
                    @include btn-link;
                }
            }
            .actions__btn--middle{
                margin: 10px 0px 10px;
            }
            .actions__title{
                padding: 20px 58px 0px;
            }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .feedbacks{
        .feedbacks__container{
            min-height: 1750px;
            padding: 54px 0px 0px 0px;
            h2{
                font-size: 2.25rem;
                line-height: 44px;
            }
            .feedbacks__text{
                font-size: 1.125rem;
                line-height: 24px;
            }
            .feedbacks__list{
                min-width: 100%;
                .feedbacks__item{
                    min-width: 610px;
                    max-height: 346px;
                }
            }
            .client-desc{
                font-size: 1.375rem;
                line-height: 22px;
            }
            .actions-list{
                flex-direction: column;
                .actions-list__item{
                    min-width: 85%;
                    margin-top: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .feedbacks{
        .feedbacks__container{
            min-height: 1500px;
            h2{
                font-size: 1.375rem;
                line-height: 27px;
            }
            .feedbacks__text{
                font-size: 0.875rem;
                line-height: 20px;
            }
            .feedbacks__list{
                min-width: 100%;
                margin: 0 auto;
                .feedbacks__item{
                    min-width: 200px;
                    max-height: 140px;
                    .feedbacks__video-btn{
                        display: none;
                    }
                }
            }
            .client-desc{
                font-size: 0.75rem;
                line-height: 22px;
            }
            .actions-list{
                min-width: 288px;
                .actions-list__item{
                    min-width: 100%;
                }
            }
        }
    }
}