.footer{
    padding: 100px 0px 0px 0px;
    background-color: rgb(38, 28, 95);
    margin-top: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .footer__container{
        .footer__top{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .footer__left-wrapper{
                display: flex;
                width: 60%;
                justify-content: space-between;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        list-style: none;
                        h3{
                            font-size: 1.125rem;
                            color: $defaultColor;
                            font-weight: 700;
                            line-height: 35px;
                        }
                        a{
                            text-decoration: none;
                            color: $defaultColor;
                            font-weight: 400;
                            line-height: 35px;
                            font-size: 1.125rem;
                        }
                    }
                }
                .footer__lists{
                    display: flex;
                    flex-direction: column;
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            list-style: none;
                            h3{
                                font-size: 1.125rem;
                                color: $defaultColor;
                                font-weight: 700;
                                line-height: 35px;
                            }
                            a{
                                text-decoration: none;
                                color: $defaultColor;
                                font-weight: 400;
                                line-height: 35px;
                                font-size: 1.125rem;
                            }
                        }
                    }
                    .bottom-list{
                        margin-top: 25px;
                    }
                }
            }
            .footer__right-wrapper{
                display: flex;
                width: 30%;
                .media-list{
                    display: flex;
                    flex-direction: column;
                    li{
                        list-style: none;
                        h3{
                            font-size: 1.125rem;
                            color: $defaultColor;
                            font-weight: 700;
                            line-height: 35px;
                        }
                        a{
                            text-decoration: none;
                            color: $defaultColor;
                            font-weight: 400;
                            line-height: 35px;
                            font-size: 1.125rem;
                        }
                        i{
                            display: none;
                        }
                    }
                }
                .install-list{
                    margin-left: 100px;
                    li{
                        display: flex;
                        font-size: 1.125rem;
                        align-items: center;
                        justify-content: space-between;
                        width: 120px;
                        color: $defaultColor;
                        line-height: 45px;
                    }
                }
            }
        }
        .footer__bottom{
            width: 100%;
            padding: 50px 0px 0px 0px;
            text-align: center;
            color: $defaultColor;
            p{
                font-size: 1rem;
            }
            .hidden-text{
                display: none;
            }
            a{
                font-size: 1rem;
                color: $defaultColor;
                padding-top: 10px;
            }
        } 
        .footer__navbar{
            display: none;
        }
    }
}

@media only screen and (max-width: 400px) {
    .footer{
        padding: 50px;
        .footer__container{
           .footer__top{
            display: block;
            .footer__left-wrapper{
                display: block;
                width: 100%;
                flex-direction: column;
                ul{
                    li{
                        float: left;
                        a{
                            display: none;
                        }
                    }
                }
            }
            .footer__right-wrapper{
                margin-top: 50px;
                display: block;
                float: left;
                width: 100%;
                .media-list{
                    display: none;
                }
                .install-list{
                    flex-wrap: wrap;
                    float: left;
                }
            }
           }
           .footer__bottom{
              p{
                display: none;
              }
              .hidden-text{
                display: inline-block;
                font-size: 0.5rem;
              }
              a{
                display: none;
              }
           }
           .footer__navbar{
            display: block;
            background-color: $defaultColor;
            margin-top: 100px;
            max-width: 80%;
            height: 40px;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                li{
                    list-style: none;
                    img{
                        width: 25px;
                        height: 35px;
                        padding: 8px 0px 0px 0px;
                    }
                }
            }
          }
        }
    }
}