.header{
    background-color: $defaultColor;
    .header__container{
        margin: 0 auto;
        height: 80px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .header__link{
            text-decoration: none;
        }
        .unique-menu{
            display: none;
        }
        .navbar{
            width: 440px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar__list{
                width: 270px;
                display: flex;
                justify-content: space-between;
                .navbar__list-item{
                    list-style: none;
                    .navbar__list-link{
                        text-decoration: none;
                        color: #837D88;
                        font-size: 0.813rem;
                        letter-spacing: 0.85px;
                        word-spacing: 2px;
                        display: inline-block;
                    }
                    .navbar__list-link:active{
                        color: #2C2830;
                        font-weight: 700;
                    }
                }
            }
            .navbar__link{
                @include link;
            }
            .navbar__link:active{
                color: $defaultColor;
                font-weight: 700;
                background: #2C2830;
                border: 1.5px solid #2C2830;
            }
        }
    }
    .header__wrapper{
        width: 100%;
        height: 600px;
        background: #2D2641;
        position: relative;
        .scroll-lines{
            position: absolute;
            top: 413px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .header{
        .header__container{
            .navbar{
                display: none;
            }
            .unique-menu{
                display: inline-block;
            }
        }
        .header__wrapper{
            min-height: 951px;
            .scroll-lines{
                display: none;
            }
        }
    }
}