.header{
    .header__container{
        align-items: center;
        justify-content: space-between;
        display: flex;
        height: 80px;
        .navbar{
            width: 300px;
            .navbar__list{
                display: flex;
                justify-content: space-between;
                list-style: none;
                width: 100%;
                .navbar__list-item{
                    a{
                        text-transform: uppercase;
                        color: #83888F;
                        font-size: 0.75rem;
                        line-height: 15px;
                        font-weight: 700;
                        text-decoration: none;
                        letter-spacing: 0.9px;
                    }
                    a:active{
                        color: #333D4B;
                    }
                }
            }
        }
        .burger-btn{
            display: none;
            width: 40px;
            height: 30px;
            background-color: $defaultColor;
            border: none;
            cursor: pointer;
            position: relative;
            .menu{
                width: 100%;
                height: 6px;
                border-radius: 1.5px;
                background-color: #333D4B;
                border: none;
                display: block;
                position: relative;
    
                &::before{
                    content: '';
                    display: inherit;
                    border-radius: 1.5px;
                    background-color: #333D4B;
                    border: none;
                    width: 100%;
                    height: 6px;
                    position: absolute;
                    top: -10px;
                }
                &::after{
                    content: '';
                    display: inherit;
                    border-radius: 1.5px;
                    background-color: #333D4B;
                    border: none;
                    width: 100%;
                    height: 6px;
                    position: absolute;
                    top: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .header{
        .header__container{
            padding: 0px;
        }
    }
}
@media only screen and (max-width: $mobile) {
    .header{
        .header__container{
            .navbar{
                display: none;
            }
            .burger-btn{
                display: block;
            }
        }
    }
}
