.hero{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .left-hero{
        flex-direction: column;
        padding: 105px 0px 0px 0px;
        position: relative;
        .rectangle{
            @include rectangle;
        }
        .left-hero__title{
            font-size: 4.5rem;
            color: $defaultColor;
            letter-spacing: -1px;
            line-height: 64px;
            font-weight: 400;
            font-family: $defaultFontFamily;
        }
        .left-hero__text{
            width: 540px;
            color: $defaultColor;
            font-size: 1rem;
            line-height: 26px;
        }
        .left-hero__link{
            @include link;
            color: $defaultColor;
            border: 1.5px solid $defaultColor;
            position: absolute;
            top: 440px;
        }
        .left-hero__link:active{
            background: #FFFFFF;
            border: 1.5px solid #FFFFFF;
            color: #2C2830;
            font-weight: 700;
        }
        .scroll-lines{
            display: none;
        }
    }
    .right-hero{
        padding: 105px 0px 0px 0px;
        position: relative;
        .scroll-lines-1{
            display: none;
        }
    }
    .scroll-box{
        position: relative;
        img{
            position: absolute;
            right: -205px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .hero{
        display: block;
        flex-direction: column;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        .left-hero{
            max-width: 327px;
            text-align: center;
            padding-top: 451px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .rectangle{
                display: none;
            }
            .left-hero__title{
                font-size: 3rem;
                line-height: 48px;
            }
            .left-hero__text{
                max-width: 100%;
            }
            .left-hero__link{
                position: static;
                margin: 0 auto;
                margin-top: 50px;
                font-size: 0.8rem;
                max-width: 146px;
                min-height: 40px;
            }
            .scroll-lines{
                display: block;
                position: absolute;
                right: 0px;
                top: 800px;
            }
        }
        .right-hero{
            position: absolute;
            top: 0.1px;
            padding: 0px 0px;
            max-width: 100%;
            img{
                max-width: 100%;
            }
            .scroll-lines-1{
                display: block;
                position: absolute;
                top: 185px;
            }
        }
        .scroll-box{
            display: none;
        }
    }
}