.map{
    background-color: #D4EFFC;
    .map__container{
        height: 800px;
        padding: 70px 0px 0px 0px;
        .map__title{
            color: #000;
            font-size: 2.875rem;
            line-height: 56px;
            text-align: center;
            padding: 0px 0px 10px 0px;
        }
        .map__wrapper{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 434px;
            border-radius: 8px;
            border: 2px solid #FCCA3A;
            .map-box{
                width: 71%;
                height: 100%;
                background-image: url(../../images/map-img.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .location-box{
                width: 29%;
                height: 100%;
                background-color: $defaultColor;
                padding-left: 40px;

                span{
                    color: #000;
                    font-size: 1rem;
                    line-height: 30px;
                    font-weight: 600;
                }
                p{
                    font-size: 1rem;
                    font-weight: 500;
                    color: #000;
                    line-height: 17px;
                }
                a{
                    color: #1168AC;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 10px;
                    text-decoration: none;
                }
                .social-media{
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    width: 250px;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .map{
        .map__container{
            padding: 74px 0px 0px;
            min-height: 659px;
            .map__title{
                font-size: 2.25rem;
                line-height: 44px;
            }
            .map__wrapper{
                .map-box{
                    min-width: 55%;
                }
                .location-box{
                    min-width: 45%;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .map{
        .map__container{
            min-height: 700px;
            padding: 56px 0px 0px;
            .map__title{
                font-size: 1.375rem;
                line-height: 27px;
            }
            .map__wrapper{
                min-height: 550px;
                max-width: 100%;
                flex-direction: column;
                .map-box{
                    max-height: 30%;
                    min-width: 100%;
                }
                .location-box{
                    max-height: 70%;
                    min-width: 100%;
                    padding: 10px 15px 0px;
                    span{
                        font-size: 0.875rem;
                        line-height: 26px;
                    }
                    p{
                        font-size: 0.75rem;
                        line-height: 18px;
                    }
                    a{
                        font-size: 0.75rem;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}