.quotes{
    background-color: $defaultColor;
    .quotes__container{
        height: 821px;
        display: flex;
        padding: 131px 0px 0px;
        .left-quotes{
            display: flex;
            width: 60%;
            position: relative;
            p{
                color: #000;
                font-size: 0.875rem;
                line-height: 20px;
                position: absolute; 
                left: 420px;
                top: 600px;
            }
        }
        .right-quotes{
            width: 40%;
            float: left;
            height: 100%;
            display: flex;
            flex-direction: column;
            .right-quotes__title{
                line-height: 40px;
                font-size: 2.25rem;
                font-weight: 700;
                color: #000;
            }
            .right-quotes__text{
                width: 456px;
                color: #000;
                font-size: 1.375rem;
                font-weight: 500;
                line-height: 30px;
            }
            .quotes__list{
                display: flex;
                list-style: none;
                padding: 0;
                flex-direction: column;
                .quotes__list-item{
                    color: #000;
                    font-size: 1rem;
                    line-height: 22px;
                    font-weight: 600;
                    display: flex;
                    margin: 0;
                    padding: 0px 0px 20px 30px;
                    position: relative;

                    &::before{
                        content: '';
                        display: block;
                        background-image: url(../../images/tiny-tick.svg);
                        width: 20px;
                        height: 14.69px;
                        position: absolute;
                        right: 470px;
                    }
                }
            }
            .quotes__wrapper{
                width: 308px;
                display: flex;
                flex-direction: column;
                .quotes__form{
                    @include form;
                    label{
                        color: #808080;
                        padding: 0px 0px 15px 0px;
                    }
                }
                .quotes__btn{
                    @include btn;
                    a{
                        @include btn-link;
                    }
                }
                .quotes__form-2{
                    @include form-2;
                    width: 100%;
                    justify-content: space-between;
                    label{
                        color: #808080;
                        padding-left: 15px;
                        font-size: 0.8664rem;
                        strong{
                            color: #1168AC;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .quotes{
        .quotes__container{
            max-height: 750px;
            padding: 75px 0px 0px 0px;
            .left-quotes{
                min-width: 47%;
                padding: 100px 50px 0px 0px;
                p{
                    top: 550px;
                    left: 480px;
                    min-width: 200px;
                }
            }
            .right-quotes{
                max-width: 53%;
                padding: 0px 0px 0px 30px;
                .right-quotes__title{
                    font-size: 1.375rem;
                    line-height: 30px;
                }
                .right-quotes__text{
                    font-size: 1.125rem;
                    line-height: 24px;
                }
                .quotes__list{
                    .quotes__list-item{
                        font-size: 0.875rem;
                        line-height: 20px;

                        &::before{
                            min-width: 16px;
                            min-height: 12px;
                            position: absolute;
                            right: 245px;
                        }
                    }
                }
                .quotes__wrapper{
                    min-width: 100%;
                    .quotes__form{
                        max-width: 100%;
                        input{
                            min-width: 360px;
                        }
                    }
                    .quotes__btn{
                        min-width: 360px;
                        max-height: 66px;
                    }
                    .quotes__form-2{
                        margin-left: 25px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $mobile) {
    .quotes{
        .quotes__container{
            min-height: 940px;
            padding: 58px 0px 0px 0px;
            flex-direction: column-reverse;
            .left-quotes{
                max-width: 100%;
                min-height: 40%;
                img{
                    max-width: 268px;
                    min-height: 254px;
                }
                p{
                    top: 150px;
                    left: 150px;
                }
            }
            .right-quotes{
               max-height: 60%;
               min-width: 100%;
               .right-quotes__title{
                font-size: 1.125rem;
                line-height: 26px;
                text-align: center;
               }
               .right-quotes__text{
                font-size: 0.875rem;
                line-height: 20px;
                max-width: 100%;
                text-align: center;
               }
               .quotes__list{
                .quotes__list-item{
                    &::before{
                        right: 265px;
                    }
                }
               }
               .quotes__wrapper{
                   .quotes__form{
                      input{
                           min-width: 100%;
                           max-height: 47px;
                      }
                   }
                   .quotes__btn{
                      min-width: 100%;
                      max-height: 50px;
                      padding: 15px 35px;
                   }
                   .quotes__form-2{
                    justify-content: space-evenly;
                      margin: 0;
                      label{
                        font-size: 0.75rem;
                      }
                   }
               }
            }
        }
    }
}