.renovations{
    background-color: #D4EFFC;
    .renovations__container{
        height: 1350px;
        padding: 70px 0px 0px 0px;
        text-align: center;
        .renovations__title{
            color: #000;
            font-size: 2.875rem;
            font-weight: 700;
            line-height: 56px;
        }
        .renovations__list{
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 27px;
            row-gap: 25px;
            margin-top: 58px;
            list-style: none;
            .renovations__list-item{
                border: 2px solid #FCCA3A;
                border-radius: 10px;
                position: relative;
                background-color: $defaultColor;
                .renovations__list-img{
                    max-width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                h3{
                    color: #000;
                    font-size: 1.375rem;
                    font-weight: 600;
                    line-height: 30px;
                }
                .sale-link{
                    text-decoration: none;
                    line-height: 22px;
                    font-size: 0.875rem;
                    color: #1168AC; 
                    padding: 0px 0px 20px 100px;
                    justify-content: space-between;
                    width: 280px;
                    display: flex;
                    text-align: center;
                    font-weight: 600;
                    align-items: center;

                    &::before{
                        content: '';
                        width: 17px;
                        height: 16.9px;
                        display: block;
                        background-image: url(../../images/sale-link__img.svg);  
                    }
                }
                .percentage{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
        }
        .show-more{
            display: none;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .renovations{
        .renovations__container{
            min-height: 1042px;
            padding: 74px 0px 0px 0px;
            .renovations__title{
                font-size: 2.25rem;
                line-height: 44px;
                font-weight: 600;
            }
            .renovations__list{
                gap: 15px;
                max-width: $mobile;
                margin-top: 32px;
                .renovations__list-item{
                    h3{
                        font-size: 1.125rem;
                        line-height: 24px;
                    }
                    .sale-link{
                        padding: 0px 0px 20px 30px;
                        max-width: 200px;
                    }
                    .percentage{
                        min-width: 48px;
                        max-height: 48px;
                        top: 15px;
                        right: 15px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: $mobile) {
  .renovations{
    .renovations__container{
        max-height: 900px;
        padding: 55px 0px 0px 0px;
        .renovations__title{
            font-size: 1.375rem;
            line-height: 27px;
        }
        .renovations__list{
            padding: 0;
            grid-template-columns: auto;
            .renovations__list-item{
                display: none;
                &:nth-child(1){
                    display: block;
                }
                &:nth-child(2){
                    display: block;
                }
                &:nth-child(3){
                    display: block;
                }
                h3{
                    font-size: 0.875rem;
                    line-height: 24px; 
                }
                .sale-link{
                    margin-left: 50px
                }
            }
            
        }
        .show-more{
            @include show-btn;
            display: block;
            margin: 0 auto;
            a{
                @include show-btn__link;
            }
        }
    }
    
}
}