.section-2{
    padding: 50px 0px 0px 0px;
    .section-2__container{
        h2{
            @include title;
            color: $defaultColor !important;
        }
        ul{
            @include list;
            li{
                 @include item;
                 img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                 }
            }
            .item-1{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .item-2{
                grid-column-start: 3;
                grid-column-end: 5;
            }
            .item-3{
                grid-column-start: 5;
                grid-column-end: 7;
            }
            .item1{
                grid-column-start: 1;
                grid-column-end: 4;
            }
            .item2{
                grid-column-start: 4;
                grid-column-end: 7;
            }
            .item3{
                grid-column-start: 1;
                grid-column-end: 4;
            }
            .item4{
                grid-column-start: 4;
                grid-column-end: 7;
            }
        }
        .section-2__btn{
            background-color: #fff;
            border: 2px solid #cb11ab;
            display: inline-block;
            border-radius: 10px;
            margin-left: 40%;
            margin-top: 40px;
            cursor: pointer;
            padding: 8px 25px 10px;
            line-height: 22px;
            padding: 11px 25px 13px;
            padding: 11px 84px 13px 64px;
            a{
                font-weight: 600;
                letter-spacing: 0;
                text-decoration: none;
                text-align: center;
                color: #cb11ab;
                font-size: 16px;
            }
        }
        .section-2__btn:hover{
            border: 2px solid #de4ec6;
            color: #de4ec6;
        }
        .section-2__btn:active{
            background: #cb11ab;
            a{
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .section-2{
        .section-2__container{
            h2{
                font-size: 1.125rem;
                font-weight: 500;
                text-align: center;
            }
            ul{
                grid-template-columns: auto auto;
                li{
                    height: 125px;
                }
                .item-1{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .item-2{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .item-3{
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
                .item1{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .item2{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .item3{
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
                .item4{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
            .section-2__btn{
                margin-left: 10%;
            }
        }
    }
}