.section-1{
    .section-1__container{
        margin: 0 auto;
        height: 474px;
        margin-top: 305px;
        .rectangle{
            @include rectangle;
            background-color: #C396C6;
        }
        .section-1__title{
            line-height: 64px;
            font-weight: 400;
            font-size: 4.5rem;
            font-style: normal;
            font-family: $defaultFontFamily;
            color: #2C2830;
            padding: 63px 0px 0px 0px;
        }
        .section-1__list{
            display: flex;
            width: 100%;
            margin: 96px 0px 0px 0px;
            justify-content: space-between;
            .section-1__item{
                list-style: none;
                .section-1__item-title{
                    padding: 32px 0px 16px 0px;
                    color: #2C2830;
                    line-height: 38px;
                    font-size: 1.750rem;
                    font-weight: 400;
                    font-style: normal;
                }
                .section-1__item-text{
                    color: #837D88;
                    line-height: 26px;
                    font-size: 1rem;
                    font-weight: 400;
                    font-size: normal;
                    width: 350px;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .section-1__container{
        min-height: 1170px;
        margin-top: 140px;
        justify-content: center;
        .rectangle{
            margin: 0 auto;
        }
        .section-1__title{
            text-align: center;
            padding: 40px 0px 0px 0px;
            line-height: 48px;
            font-size: 3rem;
        }
        .section-1__list{
            display: flex;
            flex-direction: column;
            margin: 80px 0px 0px 0px;
            .section-1__item{
                margin: 56px 0px 0px 0px;
                text-align: center;
                justify-items: center;
            }
        }
    }
}